body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    height: 100px;
    width: 350px;
    background-color: rgb(192, 192, 192);
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 5px solid black;
    border-radius: 50px;
}
button{
    
    width: 130px;
    height: 70px;
    margin: 10px;
    border-radius: 50px;
    border: 3px solid black;
    font-size: 1.5rem;
}
.btn #start{
    cursor: pointer;
    user-select: none;
}
.active{
    background-color: rgb(16, 191, 52);
}
.btn #stop{
    cursor: pointer;
    user-select: none;
}
.active2{
    background-color: rgb(212, 72, 30);
}
.btn #reset{
    cursor: pointer;
    user-select: none;
}
.active3{
    background-color: rgb(112, 112, 112);
}

    
